@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.back1234 {
    background-color: white;
    height: 100vh;

    background-size: cover;

}


.assddf {
    border-radius: 80px;
}

.h {
    text-align: center;
}

.ij1 {
    height: 50px;
    border-radius: 60px;
}

.aaa:hover {
    background-color: white;

}

.bu {
    border-width: 0px;
    text-align: left;
    border-radius: 20px;


}

.lll {
    height: 70px;
    border-radius: 25px;

}

.back12 {
    background-color: white;
}

.op {
    border-radius: 25px;
}

.col123 {
    background-color: #ff0b52;
}

.col1234 {
    background-color: lightgreen;
}

.col12345 {
    background-color: white;
}

.fony {
    color: white;

}

.imj {
    height: 50px;

}

.mar {
    margin-left: auto;
}

.imj1 {
    height: 50px;
    border-radius: 23px;


}

.mar1 {
    margin-top: 180px;
    color: grey;
}

.rule {
    border-width: 3px;
}

.you {
    border-radius: 25px;


}

.xcx {
    font-family: Trebuchet MS;
}