@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.image1 {
    height: 40px;
}

body {
    font-family: Trebuchet MS;
}

.time {
    color: grey;
}

.foodimage {
    max-height: 500px;
    width: 100%;
    border-radius: 25px;

}

.margin {
    margin-left: auto;
}

.center {
    text-align: center;
}

.asd11 {
    color: grey;

}

.qwqw {
    color: white;
}

.image8 {
    height: 60px;
}

.footer {
    background-color: black;
    background-size: cover;
}