@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

/* .back1234 {
    background-color: white;
    height: 100vh;
    background-size: cover;

} */

/* The side navigation menu */
.sidebar {
	background-color: white;
	width: 300px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 20px;
	text-align: center;
	/* overflow-x: hidden; */
	/* overflow-y: auto;  Scrollable contents if viewport is shorter than content.  */
	border-right: 1px solid #eee;
}
@media (min-width: 780px) {
	.main {
		padding-right: 40px;
		padding-left: 340px;
		/* 300 + 40 */
	}
	.sidebtn {
		display: none;
	}
	.sidebar {
		display: block;
	}
}
@media screen and (max-width: 780px) {
	.sidebtn {
		display: block;
	}
	.sidebar {
		display: none;
		overflow-x: hidden;
		/* transition: opacity 0.4s ease-out;
    opacity: 0;
    overflow-x: hidden; */
	}
}
.sidebtn {
	border:none;
	background:none;
	z-index: 101;
	position: fixed;
	margin: 25px 10px;
}
.showSidebar {
	display: block;
	/* opacity: 1; */
}
.back12 {
	background-color: white;
}
/* .withOpacity{
    background-color: grey;
} */

.nm {
	transition-duration: 0.2s;
}
.nm:hover {
	background-color: whitesmoke;
	color: tomato;
}
.assddf {
	border-radius: 80px;
}
.h {
	text-align: center;
}
.ij1 {
	height: 50px;
	border-radius: 60px;
}
.aaa:hover {
	background-color: white;
}
.bu {
	border-width: 0px;
	text-align: left;
	border-radius: 20px;
}
.lll {
	height: 50px;
	border-radius: 25px;
}
.op {
	border-radius: 25px;
}
.col123 {
	background-color: #ff0b52;
}
.col1234 {
	background-color: lightgreen;
}
.col12345 {
	background-color: white;
}
.fony {
	color: white;
}
.imj {
	height: 50px;
}
.mar {
	margin-left: auto;
}
.imj1 {
	height: 50px;
	border-radius: 23px;
}
.mar1 {
	margin-top: 180px;
	color: grey;
}
.rule {
	border-width: 3px;
}
.you {
	border-radius: 25px;
}
.xcx {
	font-family: "Titillium Web";
}
.texth {
	text-align: center;
}
.hicon {
	height: 120px;
}
.infog {
	color: grey;
	font-size: 15px;
}
.bv {
	text-align: right;
	margin-left: 30px;
}
.bv1 {
	margin-left: auto;
}
/* Orange Button */

.orangeBTN {
	background-color: orange;
	border: orange;
}
.orangeBTN:hover {
	background-color: orange;
	opacity: 0.8;
}
/* BreadCrumbs */

ol.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: white;
}
/* Add a color to all links inside the list */

ol.breadcrumb li a,
a {
	color: orange;
	text-decoration: none;
}
/* Add a color on mouse-over */

ol.breadcrumb li a:hover,
a:hover {
	color: tomato;
	text-decoration: underline;
}
/* Tabs color */

.orangeTab {
	color: #FFA500;
}
.orangeTab:hover {
	color: tomato;
}
.orangeTab.active {
	color: black;
}
.form-control:focus {
	box-shadow: none;
}
.form-control-underlined {
	border-width: 0;
	border-bottom-width: 1px;
	border-radius: 0;
	padding-left: 0;
}
.form-control::placeholder {
	font-size: 0.95rem;
	color: #aaa;
	font-style: italic;
}
.dayCount{
	display: inline-block;
	width: 65px;
	border-radius: 30px;
	text-align: center;
	margin-bottom: 0px;
}

@media  (min-width:1200px) {
	.dayCount{
		margin-right: 21px;
	}
	.dayCount .lastC{
		margin-right: 0px;
	}
	.fontsize{
		font-size: 18px;
	}
}
@media screen and (max-width:1200px) {
	.dayCount{
		margin-right: 2px;
		width: 50px;
	}
	.fontsize{
		font-size: 16px;
	}
}
.appoint{
	content:url("download.png");
}

.zoom{
	transition: transform .2s;
}
.zoom:hover{
	transform: scale(1.2);
}
.dasha, .dasha:hover{
	color: black;
	text-decoration: none;
}

.check {
		display: none;
    width: 15px;
    height: 15px;
}
.labe {
    font-size: 20px;
}

/* input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
 */





.chechlab{
	 line-height: 1.5;
	 opacity: 0.60;
}
.foodimg{
	position: absolute;
	top:-15px;
	right:15px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	margin-left:40px;
}
/*
.stripe {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
} */
.calend{
	color: white	;

	opacity: 0.9;
}
.backO{
	background-color: tomato;
	padding: 20px 0px 23px 0px;
	border-radius: 25px 25px 0px 0px;
}
.nav-pills .nav-item .nav-link{
	border-radius: 20px;
	border:2px solid white ;
	margin-bottom: -2px;
	opacity: .90;
}
.nav-link{
	color:white;
}
.nav-pills .nav-item .nav-link.active{
	border-radius: 20px ;
	border: 2px solid white ;
	background-color: white;
	color:black;
}
.nav-link:hover{
	border:2px solid white ;
	border-radius: 20px ;
	color:white;
}
/* .nav-link.active:hover{
	border-radius: 50px 50px 0px 0px;
} */
.Kyou{
	border-radius: 25px;
		box-shadow: 0 10px 10px 0 rgba(200,200,200,0.7);
 }
.number {
    font-size: 70px;
}

 .cbx {
	 -webkit-user-select: none;
	 user-select: none;
	 -webkit-tap-highlight-color: transparent;
	 cursor: pointer;
}
 .cbx span {
	 display: inline-block;
	 vertical-align: middle;
	 transform: translate3d(0, 0, 0);
}
 .cbx span:first-child {
	 position: relative;
	 width: 24px;
	 height: 24px;
	 border-radius: 50%;
	 transform: scale(1);
	 vertical-align: middle;
	 border: 1px solid orange;
	 transition: all 0.2s ease;
}
 .cbx span svg {
	 position: absolute;
	 z-index: 1;
	 top: 8px;
	 left: 6px;
	 fill: none;
	 stroke: white;
	 stroke-width: 2;
	 stroke-linecap: round;
	 stroke-linejoin: round;
	 stroke-dasharray: 16px;
	 stroke-dashoffset: 16px;
	 transition: all 0.3s ease;
	 transition-delay: 0.1s;
	 transform: translate3d(0, 0, 0);
}
 .cbx span:before {
	 content: "";
	 width: 100%;
	 height: 100%;
	 background: #506eec;
	 display: block;
	 transform: scale(0);
	 opacity: 1;
	 border-radius: 50%;
	 transition-delay: 0.2s;
}
 .cbx span:last-child {
	 margin-left: 8px;
}
 .cbx span:last-child:after {
	 content: "";
	 position: absolute;
	 top: 8px;
	 left: 0;
	 height: 1px;
	 width: 100%;
	 background: #b9b8c3;
	 transform-origin: 0 0;
	 transform: scaleX(0);
}
 .cbx:hover span:first-child {
	 border-color: orange;
}
 .inp-cbx:checked + .cbx span:first-child {
	 border-color: orange;
	 background: orange;
	 animation: check 0.6s ease;
}
 .inp-cbx:checked + .cbx span:first-child svg {
	 stroke-dashoffset: 0;
}
 .inp-cbx:checked + .cbx span:first-child svg:before {
	 transform: scale(2.2);
	 opacity: 0;
	 transition: all 0.6s ease;
}
 .inp-cbx:checked + .cbx span:last-child {
	 color: #b9b8c3;
	 transition: all 0.3s ease;
}
 .inp-cbx:checked + .cbx span:after {
	 top:15px;
	 transform: scaleX(1);
	 transition: all 0.3s ease;
}
 @keyframes check {
	 50% {
		 transform: scale(1.2);
	}
}


/**
 * Progress bars with centered text
 */

.progress {
  position: relative;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: tomato;
    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    -webkit-transition: width .6s ease;
    transition: width .4s ease;
}


/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 35%;
  width: 40%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: tomato;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.bgmg{
	background: tomato;
}
.overlay button:hover {
  background: #d00000 ;
}
.overlay button:hover > .bgmg{
	background: #d00000;
}

.showOrNot{
	display: none;
}
.overlay-content2 {
	position: relative;
	top:10%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

/* Style the search field */
.overlay div {
  font-size: 17px;
  border: none;
  background: #f1f1f1;
}

.overlay div:hover {
  background: white;
}
