{% extends 'base.html' %}
  {% block body %}
  {% load static %}
<div class="container">
    <div class="form-row">
      <!-#########################Col1###############-->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="tab-bmi">
          <h3>Bmi Calculator</h3>
          <div class="tab">
            <button  class="tablinks" onclick="openUnit(event, 'metric')">Metric</button>
            <button  class="tablinks" onclick="openUnit(event, 'imperial')">Imperial</button>
          </div>
  
          <div class="tabcontent" id="metric">
             <form method="post">
               {% csrf_token %}
               <div class="col-12">
                 <label for="">Weight: </label>
                 <input type="text" name="weight-metric" class="form-control" required placeholder="kg">
               </div>
  
               <div class="col-12">
                 <label for="">Height: </label>
                 <input type="text" name="height-metric" class="form-control" required placeholder="m">
               </div>
  
               <div class="form-check my-5">
                 <input class="form-check-input" checked="checked" name="save" value="on" type="checkbox">
                 <label for="" class="form-check-label">Save It.
                   <a href="#" title="Why to save it?" data-toggle="popover" data-trigger="focus"
           data-content="In case you want to track your weight, you can save it.(login required)">?</a>
         </label>
               </div>
  
  
  
  
               <button type="submit" class="btn btn-primary" action="{% url 'index' %}">Calculate</button>
  
             </form>
          </div>
  
          <div class="tabcontent" id="imperial">
            <form method="post">
              {% csrf_token %}
              <div class="col-12">
                <label for="">Weight: </label>
                <input type="text" name="weight-imperial" class="form-control" required placeholder="lbs">
              </div>
  
              <div class="col-12">
                <label for="">Height: </label>
                <div class="input-group">
                  <input type="text" name="feet" placeholder="feet" class="form-control">
                  <input type="text" name="inches" placeholder="inches" class="form-control">
                </div>
              </div>
  
              {% if user.is_authenticated %}
              <div class="form-check my-5">
                <input class="form-check-input" checked="checked" name="save" value="on" type="checkbox">
                <label for="" class="form-check-label">Save It.
                  <a href="#" title="Why to save it?" data-toggle="popover" data-trigger="focus"
          data-content="In case you want to track your weight, you can save it.(login required)">?</a>
        </label>
              </div>
              {% else %}
              <div class="form-check my-5">
                <input disabled class="form-check-input" checked="checked" name="save" value="on" type="checkbox">
                <label for="" class="form-check-label">Save It.
                  <a href="#" title="Why to save it?" data-toggle="popover" data-trigger="focus"
          data-content="In case you want to track your weight, you can save it.(login required)">?</a>
        </label>
              </div>
              {% endif %}
  
  
  
              <button type="submit" class="btn btn-primary" action="{% url 'index' %}">Calculate</button>
  
            </form>
          </div>
  
  
        </div>
  
  
      <!-#########################Col2###############-->
  
  
      </div>
  
  
  
        {% if bmi %}
      <div class="col-md-6 col-sm-12 col-xs-12">
        <h2>Result</h2>
        <p>Your BMI = {{bmi}} kg/m² | {{state}}</p>
        <div class="progress">
          <div class="progress-bar bg-danger" style="width:25%">
            Underweight
          </div>
          <div class="progress-bar bg-success" style="width:25%">
            Normal
          </div>
          <div class="progress-bar bg-warning" style="width:25%">
            Overweight
          </div>
          <div class="progress-bar bg-danger" style="width:25%">
            Obesity
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  
    {{ div | safe }}
  </div>
  {% endblock body %}