{% extends 'base.html' %}
  {% block body %}
  {% load static %}
  <div class="d-flex flex-row">
    <div class="col-lg-3  back1234 p-4 ">
        <div class="h col-12">
            <img class="ij1" src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-users-icon-png-image_4144740.jpg" alt="" />
            <h1 class="nm">{{user.username}}</h1>
        </div>
        <hr class="rule" />
        <button class="btn btn-white bu col-12 nm" type="submit">
            <div class="d-flex flex-row ">
                <img class="lll" src="https://cdn1.iconfinder.com/data/icons/webina-seo-development-and-marketing/128/seo_web-62-512.png" alt="" />
                <a href="{% url 'dashboard' %}"><h4 class="ml-3">Dashboard</h4></a>
            </div>
        </button>
        <br />
        <br />
        <button class="btn btn-white bu col-12 nm" type="submit">
            <div class="d-flex flex-row ">
                <img class="lll" src="https://www.shareicon.net/data/2015/10/03/111427_write_512x512.png" alt="" />
                <a href="{% url 'profile' user.id %}"><h4 class="ml-3">Profile</h4></a>
            </div>
        </button>
        <br />
        <br />
        <button class="btn btn-white bu col-12 nm" type="submit">
            <div class="d-flex flex-row ">
                <img class="lll" src="https://cdn1.iconfinder.com/data/icons/network-and-comminications-flat-circle-shadow-vo-1/120/content__blog__media__articles__news__management__edit-512.png" alt="" />
                <a href="{% url 'invoices' user.id %}"><h4 class="ml-3">Invoices</h4></a>
            </div>
        </button>
        <br />
        <br />
        <button class="btn btn-white bu col-12 nm" type="submit">
            <div class="d-flex flex-row ">
                <img class="lll" src="https://image.flaticon.com/icons/png/512/1076/1076323.png" alt="" />
                <a href="{% url 'book' %}"><h4 class="ml-3">Book Appointment</h4></a>
            </div>
        </button>
        <br />
        <br />

        <button class="btn btn-white bu col-12 nm" type="submit">
            <div class="d-flex flex-row ">
                <img class="lll" src="https://cdn2.iconfinder.com/data/icons/flat-style-svg-icons-part-2/512/account_card_user_profile-512.png" alt="" />
                <a href="{{user.playlist}}"><h4 class="ml-3">Playlist</h4></a>
            </div>
        </button>
        <br />
        <br />
        <button class="btn btn-wFood Planshite bu col-12 nm" type="submit">
            <div class="d-flex flex-row ">
                <img class="lll" src="https://cdn0.iconfinder.com/data/icons/interface-icons-rounded/110/Logout-512.png" alt="" />
                <a href="{% url 'logoutme' %}"><h4 class="ml-3">Logout</h4></a>
            </div>
        </button>
        <div class="mar1">
            <hr class="rule" />
            <p class="">Copyright &copy; KOWI LIFESTYLES</p>
        </div>


    </div>
    <div class="back12 col-lg-9">
        <div class="col-lg-12 p-5">
            <div class="d-flex flex-row">
                <h1 class="nm">Welcome {{user.username}}</h1>
                <div class="mar">
                    <a href="{% url 'index' %}"><img class="imj1 mr-2" src="https://static.vecteezy.com/system/resources/previews/000/440/812/original/home-vector-icon.jpg" alt="" /></a>
                    <a href="{% url 'logoutme' %}"><img class="imj" src="https://cdn0.iconfinder.com/data/icons/interface-icons-rounded/110/Logout-512.png" alt="" /></a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="col-5 op p-5 col123 shadow fony">
                <h1>Your Previous BMI Index</h1>
                {% if bmi == none %}
                <p>Nothing Logged Yet!</p>
                <a href="{% url 'bmic' %}"> <button class="btn btn-primary btn-small">Get BMI Now</button></a>
                {% else %}
                <p>{{bmi}} kg/m²</p>
                <a href="{% url 'bmic' %}"> <button class="btn btn-primary btn-small">More</button></a>
                {%endif%}
                <!-- Button trigger modal -->
            </div>
            <div class="col-5 op p-5 col123 shadow fony">
                <h1>Your Previous BMR Index</h1>
                {% if bmr == none %}
                <p>Nothing Logged Yet!</p>
                <a href="{% url 'bmrcal' %}"> <button class="btn btn-primary btn-small">Get BMR Now</button></a>
                {% else %}
                <p>{{bmr.bmr}} kcal/day</p>
                <a href="{% url 'bmrcal' %}"> <button class="btn btn-primary btn-small">More</button></a>
                {%endif%}
                <!-- Button trigger modal -->
            </div>

            <div class="col-3 op  p-5 shadow col1234 ml-4 fony">
                <h3>Your Subscription:</h3>
                <h5><b>{{user.sub.plan}}</b></h5>
                <a href="{% url 'subs' %}"> <button class="btn btn-warning btn-small">View</button></a>
            </div>
            <div class="col-3 op col12345  p-5 shadow ml-4 ">
                <h1><b>Target:</b></h1>
                <h5>{{user.target}}</h5>
                <a href="{% url 'growth' %}"> <button class="btn btn-success btn-small">Check Growth</button></a>
            </div>
        </div>
        <br />

        <div class="d-flex flex-row mb-3">
            <div class="col-4 op col123 p-5 shadow fony">
                <h1>Current Grocery List</h1>
                {% if grolist is null %}
                <p>Grocery List Empty!</p>
                <a href="{% url 'grocery' %}"> <button class="btn btn-primary btn-small">Add Items!</button></a>
                {%else%}
                <ul class="list-group my-2">
                    {%for gro in grolist %}
                    <li class="list-group-item list-group-item-primary">{{gro.items.name}}</li>
                    {%empty%}
                    <p>No List Yet!</p>
                    {%endfor%}
                </ul>
                <a href="{% url 'grocery' user.id %}"> <button class="btn btn-primary btn-small">More</button></a>
                {%endif%}
            </div>
            <div class="d-flex flex-column col-4">
                <div class="col-12 op col1234 p-5 shadow ml-4 fony ">
                    <h3>Live Appointments</h3>
                    {% if flag is True %}
                    <p>No Appointments</p>
                    <a href="{% url 'lives' %}"> <button class="btn btn-primary btn-small">Create Now</button></a>
                    {%else%}
                    <ul class="list-group my-2">
                        {%for link in meet%}
                        <li class="list-group-item list-group-item-primary">
                            Time: {{link.slottime}} <span>
                            Date: {{link.date}}</span>
                            <a href="{% url 'lives' %}"><button class="btn btn-primary btn-small">Link</button></a>
                        </li>
                        {%endfor%}
                    </ul>
                    {%endif%}
                </div>
                {%if user.sub.plan != "Free Plan" %}
                <div class="col-12 op col12345  p-5 shadow ml-4 y mt-4">
                    {% if user.sub.plan == "Basic Plan" %}
                        <h4><b>Note From Nutritionist({{findnutri.id}}):</b></h4>
                        {% if dietplans.remarks is empty %}
                             <p>Nope! All's Good!</p>
                        {%else%}
                        <p>{{dietplans.remarks}}</p>
                        {%endif%}
                    <h4><b>Note From Fitness Trainer({{findtrain.id}}):</b></h4>
                    <p>Add Jinja here</p>
                    {%else %}
                    <h4><b>Note From Nutritionist & Dietician({{findnutri.id}} & {{finddieti.id}}):</b></h4>
                    {% if dietplans.remarks is empty %}
                             <p>Nope! All's Good!</p>
                        {%else%}
                        <p>{{dietplans.remarks}}</p>
                        {%endif%}
                    <h4><b>Note From Fitness Trainer({{findtrain.id}}):</b></h4>
                    <p>Add Jinja here</p>
                    {%endif%}
                </div>
                {%endif%}
            </div>


            <div class="col-3 op col1234  p-5 shadow ml-5 fony ">
                <h1>Meal Plan:</h1>
                <ul class="list-group my-2">
                    <li class="list-group-item list-group-item-primary">Preworkout Meal:
                    {% for item in premeal %}
                     <a href="">{{item.fooditem}}</a>
                     <br>
                     {%endfor%}
                    </li>
                    <li class="list-group-item list-group-item-primary">Postworkout Meal:
                        {% for item in postmeal %}
                         <a href="">{{item.fooditem}}</a>
                         <br>
                         {%endfor%}
                        </li>
                        <li class="list-group-item list-group-item-primary">Lunch:
                            {% for item in lunch %}
                             <a href="">{{item.fooditem}}</a>
                             <br>
                             {%endfor%}
                            </li>
                            <li class="list-group-item list-group-item-primary">Snacks:
                                {% for item in snacks %}
                                 <a href="">{{item.fooditem}}</a>
                                 <br>
                                 {%endfor%}
                                </li>
                                <li class="list-group-item list-group-item-primary">Dinner:
                                    {% for item in dinner %}
                                     <a href="">{{item.fooditem}}</a>
                                     <br>
                                     {%endfor%}
                                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    {% endblock body %}