{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
	<link href="{% static 'FoodPlans.css' %}" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="stylesheet" href="{% static 'CalendarPickerJS\CalendarPicker.style.css' %}" />
	<script src="{% static 'CalendarPickerJS\CalendarPicker.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  </script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>  
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />  
	<title>{{title}}</title>
</head>

<body>
	<!-- The sidebar -->
	<div class="container-fluid xcx">
		<div class="row">
			<button type="button" name="button" class="sidebtn">
				<lord-icon src="https://cdn.lordicon.com/wgwcqouc.json" trigger="morph-two-way" colors="primary:#121331,secondary:#08a88a" stroke="100" style="width:25px;height:25px"></lord-icon>
			</button>
			<div class=" sidebar " id="mySideBar">
				<img height="150px" class="assddf" src="/media/{{user.pic}}" alt="" />
				<h2>{{user.username}}</h2>
				<hr class="rule" />
				<button class="btn btn-white bu col-12 nm shadow" type="submit">
                    <div class="d-flex flex-row ">
                      <img class="lll" src="https://i.ibb.co/bRbrSq9/Whats-App-Image-2021-05-16-at-20-37-24.jpg" alt="" />
                      <a href="{% url 'dashboard' %}"><h5 class="ml-3 mt-3">Dashboard</h5></a>
                    </div>
                  </button>
                  <br />
                  <button class="btn btn-white bu col-12 nm " type="submit">
                    <div class="d-flex flex-row ">
                      <img class="lll" src="https://i.ibb.co/PDpM8j6/Whats-App-Image-2021-05-16-at-20-37-25.jpg" alt="" />
                      <a href="{% url 'profile' user.id %}"><h5 class="ml-3 mt-3">Profile</h5></a>
                    </div>
                  </button>
                  <br />
                  <button class="btn btn-white bu col-12 nm " type="submit">
                    <div class="d-flex flex-row ">
                      <img class="lll" src="https://i.ibb.co/S084SVR/Whats-App-Image-2021-05-16-at-20-37-22.jpg" alt="" />
                      <a href="{% url 'invoices' user.id %}"><h5 class="ml-3 mt-3">Billings</h5></a>
                    </div>
                  </button>
                  <br />
                  <button class="btn btn-white bu col-12 nm " type="submit">
                    <div class="d-flex flex-row ">
                      <img class="lll" src="https://i.ibb.co/LZkCfgy/Whats-App-Image-2021-05-16-at-20-37-23.jpg" alt="" />
                      <a href="{% url 'book' %}"><h5 class="ml-3 mt-3">Live</h5></a>
                    </div>
                  </button>
                  <br />
                  <button class="btn btn-white bu col-12 nm " type="submit">
                    <div class="d-flex flex-row ">
                      <img class="lll" src="https://i.ibb.co/ZXgcjhf/Whats-App-Image-2021-05-16-at-20-37-23-1.jpg" alt="" />
                      <a href="{% url 'foodplans' date %}"><h5 class="ml-3 mt-3">Food Plans</h5></a>
                    </div>
                  </button>
                  <br />
                  <button class="btn btn-white bu col-12 nm " type="submit">
                    <div class="d-flex flex-row ">
                      <img class="lll" src="https://i1.wp.com/iosappszone.com/wp-content/uploads/2020/08/Fitness-ios-300x300.jpg" alt="" />
                      <a href="{% url 'exercise' %}"><h5 class="ml-3 mt-3">Exercises</h5></a>
                    </div>
                  </button>
				<hr class="rule" />
				<p><small>All Copyrights Reserved by KOWI LIFESTYLES</small>
				</p>
			</div>
			<div class="back12 col-lg-12 main">
				<div class="row">
					<div class="col-lg-12 p-3">
						<div class="d-flex flex-row ">
							<div class="bv">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">FoodPlans</li>
									</ol>
								</nav>
							</div>
							<div class="mar">
								<a href="{% url 'index' %}"><img class="imj1 mr-2" src="https://static.vecteezy.com/system/resources/previews/000/440/812/original/home-vector-icon.jpg" alt="" /></a>
                <a href="{% url 'logoutme' %}"><img class="imj" src="https://cdn0.iconfinder.com/data/icons/interface-icons-rounded/110/Logout-512.png" alt="" /></a>
            </div>
						</div>
					</div>
					<div class="row justify-centent-center ml-3 mr-3" style="width:90%;">
                        <div class="col-12 text-center"  >
                            {% for message in messages %}
                            <div class="container-fluid p-0" id="debugDiv">
                              <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                              </div>
                            </div>
                            {% endfor %}
                    </div>
                      </div>
					<div class="col-md-9 mb-5 Kyou">
						<div class="row backO">
							<div class="col-md-12">
								<ul class="nav nav-pills nav-justified" id="myTab" role="tablist" style="border-bottom:none;">
									<li class="nav-item dayCount text-center">
										<a class="nav-link active shadow" id="monTab" data-toggle="tab" href="#mon" role="tab" aria-controls="mon" aria-selected="true">
											<h3>7</h3>
											<h4 class="fontsize">MON</h4>
										</a>
									</li>
									<li class="nav-item dayCount text-center">
										<a class="nav-link shadow" id="tueTab" data-toggle="tab" href="#tue" role="tab" aria-controls="tue" aria-selected="false">
											<h3>8</h3>
											<h4 class="fontsize">TUE</h4>
										</a>
									</li>
									<li class="nav-item dayCount text-center">
										<a class="nav-link shadow " id="wedTab" data-toggle="tab" href="#wed" role="tab" aria-controls="wed" aria-selected="false">
											<h3>9</h3>
											<h4 class="fontsize">WED</h4>
										</a>
									</li>
									<li class="nav-item dayCount text-center">
										<a class="nav-link shadow" id="thuTab" data-toggle="tab" href="#thu" role="tab" aria-controls="thu" aria-selected="false">
											<!-- <a class="dasha" href="#" data-toggle="tooltip" title="You have an appointment..."> -->
											<!-- <div class=" appoint zoom"> -->
											<h3>10</h3>
											<!-- </div> -->
											<!-- </a> -->
											<h4 class="fontsize">THU</h4>
										</a>
									</li>
									<li class="nav-item dayCount text-center">
										<a class="nav-link shadow" id="friTab" data-toggle="tab" href="#fri" role="tab" aria-controls="fri" aria-selected="false">
											<h3>11</h3>
											<h4 class="fontsize">FRI</h4>
										</a>
									</li>
									<li class="nav-item dayCount text-center">
										<a class="nav-link shadow" id="satTab" data-toggle="tab" href="#sat" role="tab" aria-controls="sat" aria-selected="false">
											<h3>12</h3>
											<h4 class="fontsize">SAT</h4>
										</a>
									</li>
									<li class="nav-item dayCount text-center lastC">
										<a class="nav-link shadow" id="sunTab" data-toggle="tab" href="#sun" role="tab" aria-controls="sun" aria-selected="false">
											<h3>13</h3>
											<h4 class="fontsize">SUN</h4>
										</a>
									</li>
									<div id="myOverlay2" class="overlay">
										<span class="closebtn" onclick="closeCal()" title="Close Overlay">x</span>
									  <div class="overlay-content2">
											<form action="action_page.php">
										<div id="myCalendarWrapper" class=""></div>
									</form>
								</div>
									</div>
									<div class="form-group my-auto">
										<button type="button" name="button" onclick="openCal()" style="background:none; border:none;"> <i class="fas fa-calendar fa-2x input-prefix calend zoom" tabindex=0></i>
										</button>
									</div>
								</ul>

							</div>
						</div>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="mon" role="tabpanel" aria-labelledby="monTab">
								<div class="col-lg-12 p-3 ">
									<div class="row pt-5">
										<div class="col-md-12">
											<h3>Pre-Workout Meal</h3>
										</div>
									</div>
									<form class="" action="" method="post">
										{%csrf_token%}
										<div class="row">
											<div class="col-md-12 ">
												<div class=" row mt-3 ">
													{% for meal,qu in pre %}
													<div class="col-md-5 col-sm-6 mb-4 you shadow " style="margin:8px">
														<input type="checkbox" class="check inp-cbx" name="" id="check1" value="" />
														<label class="labe cbx" for="check1"> <span><svg width="12px" height="9px" viewbox="0 0 12 9"><polyline points="1 5 4 8 11 1"></polyline></svg></span>  <span>{{meal.fooditem}}</span>
														</label>
														<p class="chechlab">-> {{meal.fooditem.calories}}cal
															<br>-> {{qu.quantity}} {{meal.fooditem.unit}}</p>
														<a href="{% url 'fooddetail' meal.fooditem.id %}" class=""> <img src="{{meal.fooditem.pic}}" alt="" class="foodimg"></a>
													</div>
													{%endfor%}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 text-left">
												<button type="button" name="button" name="prem" class="btn btn-primary orangeBTN " onclick="geek()">Save</button>
											</div>
											<div class="col-md-6 text-right">
												<button type="button" name="button" class="btn btn-primary orangeBTN openBtn " onclick="openSearch()">Enter Your Meal</button>
											</div>
										</div>
									</form>
									<hr>
									<div class="row pt-5">
										<div class="col-md-12">
											<h3>Post-Workout Meal</h3>
										</div>
									</div>
									<form class="" action="" method="post">
										{%csrf_token%}
										<div class="row">
											<div class="col-md-12 ">
												<div class=" row mt-3 ">
													{% for meal,qu in post %}
													<div class="col-md-5 col-sm-6 mb-4 you shadow " style="margin:8px">
														<input type="checkbox" class="check inp-cbx" name="" id="check1" value="" />
														<label class="labe cbx" for="check1"> <span><svg width="12px" height="9px" viewbox="0 0 12 9"><polyline points="1 5 4 8 11 1"></polyline></svg></span>  <span>{{meal.fooditem}}</span>
														</label>
														<p class="chechlab">-> {{meal.fooditem.calories}} cal
															<br>-> {{qu.quantity}} {{meal.fooditem.unit}}</p>
														<a href="{% url 'fooddetail' meal.fooditem.id %}" class=""> <img src="{{meal.fooditem.pic}}" alt="" class="foodimg"></a>
													</div>
													{%endfor%}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 text-left">
												<button type="button" name="button" name="posm" class="btn btn-primary orangeBTN " onclick="">Save</button>
											</div>
											<div class="col-md-6 text-right">
												<button type="button" name="button" class="btn btn-primary orangeBTN openBtn " onclick="openSearch3()">Enter Your Meal</button>
											</div>
										</div>
									</form>
									<hr>
									<div class="row pt-5">
										<div class="col-md-12">
											<h3>Lunch</h3>
										</div>
									</div>
									<form class="" action="" method="post">
										{%csrf_token%}
										<div class="row">
											<div class="col-md-12 ">
												<div class=" row mt-3 ">
													{% for meal,qu in lunch %}
													<div class="col-md-5 col-sm-6 mb-4 you shadow " style="margin:8px">
														<input type="checkbox" class="check inp-cbx" name="" id="check1" value="" />
														<label class="labe cbx" for="check1"> <span><svg width="12px" height="9px" viewbox="0 0 12 9"><polyline points="1 5 4 8 11 1"></polyline></svg></span>  <span>{{meal.fooditem}}</span>
														</label>
														<p class="chechlab">-> {{meal.fooditem.calories}} cal
															<br>-> {{qu.quantity}} {{meal.fooditem.unit}}</p>
														<a href="{% url 'fooddetail' meal.fooditem.id %}" class=""> <img src="{{meal.fooditem.pic}}" alt="" class="foodimg"></a>
													</div>
													{%endfor%}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 text-left">
												<button type="button" name="button" class="btn btn-primary orangeBTN " onclick="">Save</button>
											</div>
											<div class="col-md-6 text-right">
												<button type="button" name="button" class="btn btn-primary orangeBTN openBtn " onclick="openSearch()">Enter Your Meal</button>
											</div>
										</div>
									</form>
									<hr>
									<div class="row pt-5">
										<div class="col-md-12">
											<h3>Snacks</h3>
										</div>
									</div>
									<form class="" action="index.html" method="post">
										<div class="row">
											<div class="col-md-12">
												<div class=" row mt-3 ">
													{% for meal,qu in snacks %}
													<div class="col-md-5 col-sm-6 mb-4 you shadow " style="margin:8px">
														<input type="checkbox" class="check inp-cbx" name="" id="check1" value="" />
														<label class="labe cbx" for="check1"> <span><svg width="12px" height="9px" viewbox="0 0 12 9"><polyline points="1 5 4 8 11 1"></polyline></svg></span>  <span>{{meal.fooditem}}</span>
														</label>
														<p class="chechlab">-> {{meal.fooditem.calories}} cal
															<br>-> {{qu.quantity}} {{meal.fooditem.unit}}</p>
														<a href="{% url 'fooddetail' meal.fooditem.id %}" class=""> <img src="{{meal.fooditem.pic}}" alt="" class="foodimg"></a>
													</div>
													{%endfor%}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 text-left">
												<button type="button" name="button" class="btn btn-primary orangeBTN " onclick="">Save</button>
											</div>
											<div class="col-md-6 text-right">
												<button type="button" name="button" class="btn btn-primary orangeBTN openBtn " onclick="openSearch()">Enter Your Meal</button>
											</div>
										</div>
									</form>
									<hr>
									<div class="row pt-5">
										<div class="col-md-12">
											<h3>Dinner</h3>
										</div>
									</div>
									<form class="" action="index.html" method="post">
										<div class="row">
											<div class="col-md-12">
												<div class=" row mt-3 ">
													{% for meal,qu in dinner %}
													<div class="col-md-5 col-sm-6 mb-4 you shadow " style="margin:8px">
														<input type="checkbox" class="check inp-cbx" name="" id="check1" value="" />
														<label class="labe cbx" for="check1"> <span><svg width="12px" height="9px" viewbox="0 0 12 9"><polyline points="1 5 4 8 11 1"></polyline></svg></span>  <span>{{meal.fooditem}}</span>
														</label>
														<p class="chechlab">-> {{meal.fooditem.calories}} cal
															<br>-> {{qu.quantity}} {{meal.fooditem.unit}}</p>
														<a href="{% url 'fooddetail' meal.fooditem.id %}" class=""> <img src="{{meal.fooditem.pic}}" alt="" class="foodimg"></a>
													</div>
													{%endfor%}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 text-left">
												<button type="button" name="button" class="btn btn-primary orangeBTN " onclick="">Save</button>
											</div>
											<div class="col-md-6 text-right">
												<button type="button" name="button" class="btn btn-primary orangeBTN openBtn " onclick="openSearch()">Enter Your Meal</button>
											</div>
										</div>
									</form>
								</div>
							</div>

						<div class="tab-pane fade show active" id="tue" role="tabpanel" aria-labelledby="tueTab"></div>
						<div class="tab-pane fade show active" id="wed" role="tabpanel" aria-labelledby="wedTab"></div>
						<div class="tab-pane fade show active" id="thu" role="tabpanel" aria-labelledby="thuTab"></div>
						<div class="tab-pane fade show active" id="fri" role="tabpanel" aria-labelledby="friTab"></div>
						<div class="tab-pane fade show active" id="sat" role="tabpanel" aria-labelledby="satTab"></div>
						<div class="tab-pane fade show active" id="sun" role="tabpanel" aria-labelledby="sunTab"></div>
						</div>
					</div>
					<div id="myOverlay" class="overlay">
					  <span class="closebtn" onclick="closeSearch()" title="Close Overlay">x</span>
					  <div class="overlay-content">
					    <form action="" method="POST">
							{%csrf_token%}
					      <input type="text" name="tags" placeholder="Search.." name="search">
						  <script>
							$( function() {
							  var availableTags = [
								  {% for food in foods %}
									  "{{food.name}}",
								  {% endfor %}
							  ];
							  $( "#tags" ).autocomplete({
								source: availableTags
							  });
							} );
							</script>
						  <button type="submit" name="prework" class="bgmg"><i class="fa fa-search bgmg"></i></button>
					    </form>
					  </div>
					</div>
					<div id="myOverlay3" class="overlay">
						<span class="closebtn" onclick="closeSearch3()" title="Close Overlay">x</span>
						<div class="overlay-content">
						  <form action="" method="POST">
							  {%csrf_token%}
							<input type="text" name="tags" placeholder="Search.." name="search">
							<script>
							  $( function() {
								var availableTags = [
									{% for food in foods %}
										"{{food.name}}",
									{% endfor %}
								];
								$( "#tags" ).autocomplete({
								  source: availableTags
								});
							  } );
							  </script>
							<button type="submit" name="postwork" class="bgmg"><i class="fa fa-search bgmg"></i></button>
						  </form>
						</div>
					  </div>
					  <div id="myOverlay4" class="overlay">
						<span class="closebtn" onclick="closeSearch4()" title="Close Overlay">x</span>
						<div class="overlay-content">
						  <form action="" method="POST">
							  {%csrf_token%}
							<input type="text" name="tags" placeholder="Search.." name="search">
							<script>
							  $( function() {
								var availableTags = [
									{% for food in foods %}
										"{{food.name}}",
									{% endfor %}
								];
								$( "#tags" ).autocomplete({
								  source: availableTags
								});
							  } );
							  </script>
							<button type="submit" name="lunch" class="bgmg"><i class="fa fa-search bgmg"></i></button>
						  </form>
						</div>
					  </div>
					  <div id="myOverlay5" class="overlay">
						<span class="closebtn" onclick="closeSearch5()" title="Close Overlay">x</span>
						<div class="overlay-content">
						  <form action="" method="POST">
							  {%csrf_token%}
							<input type="text" name="tags" placeholder="Search.." name="search">
							<script>
							  $( function() {
								var availableTags = [
									{% for food in foods %}
										"{{food.name}}",
									{% endfor %}
								];
								$( "#tags" ).autocomplete({
								  source: availableTags
								});
							  } );
							  </script>
							<button type="submit" name="snacks" class="bgmg"><i class="fa fa-search bgmg"></i></button>
						  </form>
						</div>
					  </div>
					  <div id="myOverlay6" class="overlay">
						<span class="closebtn" onclick="closeSearch6()" title="Close Overlay">x</span>
						<div class="overlay-content">
						  <form action="" method="POST">
							  {%csrf_token%}
							<input type="text" name="tags" placeholder="Search.." name="search">
							<script>
							  $( function() {
								var availableTags = [
									{% for food in foods %}
										"{{food.name}}",
									{% endfor %}
								];
								$( "#tags" ).autocomplete({
								  source: availableTags
								});
							  } );
							  </script>
							<button type="submit" name="dinner" class="bgmg"><i class="fa fa-search bgmg"></i></button>
						  </form>
						</div>
					  </div>
					<div class="col-md-3 " >
						<div class="shadow mx-auto" style="text-align: center; position: relative; width:250px; ">
						<div class="row d-flex flex-row">
							<div class="col-md-12 " style="">
								<h4 class="pt-2 mb-3 mx-auto ">DAY'S TOTAL INTAKE</h4>
								<canvas width="267" height="200" id="myChart123" class="mx-auto "  style="position: relative;left:-9px;"></canvas>
								<hr class="mt-4">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 px-4">
								<h4 class="pt-2 mb-3">PER MEAL</h4>
								<h5 class="text-left">Pre Workout Meal</h5>
								<a class="dasha" href="#" data-toggle="tooltip" title="Of Goal Reached!!!">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
									</div>
								</a>
								<h5 class="text-left">Post Workout Meal</h5>
								<a class="dasha" href="#" data-toggle="tooltip" title="Of Goal Reached!!!">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
									</div>
								</a>
								<h5 class="text-left">Lunch</h5>
								<a class="dasha" href="#" data-toggle="tooltip" title="Of Goal Reached!!!">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
									</div>
								</a>
								<h5 class="text-left">Snacks</h5>
								<a class="dasha" href="#" data-toggle="tooltip" title="Of Goal Reached!!!">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
									</div>
								</a>
								<h5 class="text-left">Dinner</h5>
								<a class="dasha" href="#" data-toggle="tooltip" title="Of Goal Reached!!!">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100">7%</div>
									</div>
								</a>

							</div>

						</div>
						<!-- <hr class="pb-2"> -->

					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="margin-bottom: 3cm;">
		<!--Just for extra space-->
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="http://code.jquery.com/jquery-git.js"></script>
	<script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>
	<script type="text/javascript" src="{% static 'FoodPlans.js' %}"></script>
</body>

</html>