{%load static %}
<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'dashboard.css' %}" >
</head>

<body>
    <div class="container-fluid xcx">
        <div class="row">
            <div class="col-lg-3  back1234 p-4 ">
                <div class="h col-12">
                    <img height="150px" class="assddf" src="https://i.ibb.co/PDpM8j6/Whats-App-Image-2021-05-16-at-20-37-25.jpg" alt="" />
                    <h2>{{title}}</h2>
                </div>
                <hr class="rule" />
                <button class="btn btn-white bu col-12 nm shadow" type="submit">
                    <div class="d-flex flex-row ">
                        <img class="lll" src="https://i.ibb.co/bRbrSq9/Whats-App-Image-2021-05-16-at-20-37-24.jpg" alt="" />
                        <a href="{% url 'dashboard' %}"><h5 class="ml-3 mt-3">Dashboard</h5></a>
                    </div>
                </button>
                <br />
                <br />
                <button class="btn btn-white bu col-12 nm shadow" type="submit">
                    <div class="d-flex flex-row ">
                        <img class="lll" src="https://i.ibb.co/PDpM8j6/Whats-App-Image-2021-05-16-at-20-37-25.jpg" alt="" />
                        <a href="{% url 'profile' user.id %}"><h5 class="ml-3 mt-3">Profile</h5></a>
                    </div>
                </button>
                <br />
                <br />
                <button class="btn btn-white bu col-12 nm shadow" type="submit">
                    <div class="d-flex flex-row ">
                        <img class="lll" src="https://i.ibb.co/S084SVR/Whats-App-Image-2021-05-16-at-20-37-22.jpg" alt="" />
                        <a href="{% url 'invoices' %}"><h5 class="ml-3 mt-3">Invoices</h5></a>
                    </div>
                </button>
                <br />
                <br />
                <button class="btn btn-white bu col-12 nm shadow" type="submit">
                    <div class="d-flex flex-row ">
                        <img class="lll" src="https://i.ibb.co/LZkCfgy/Whats-App-Image-2021-05-16-at-20-37-23.jpg" alt="" />
                        <a href="{% url 'lives' %}"><h5 class="ml-3 mt-3">Live</h5></a>
                    </div>
                </button>
                <br />
                <br />

                <button class="btn btn-white bu col-12 nm shadow" type="submit">
                    <div class="d-flex flex-row ">
                        <img class="lll" src="https://i.ibb.co/ZXgcjhf/Whats-App-Image-2021-05-16-at-20-37-23-1.jpg" alt="" />
                        <a href="{{user.playlist}}"></a><h5 class="ml-3 mt-3">Playlist</h5>
                    </div>
                </button>
                <br />
                <br />
                <button class="btn btn-white bu col-12 nm shadow" type="submit">
                    <div class="d-flex flex-row ">
                        <img class="lll" src="https://i.ibb.co/JrWk5dr/Whats-App-Image-2021-05-16-at-20-37-24-1.jpg" alt="" />
                        <a href="{% url 'logoutme' %}"><h5 class="ml-3 mt-3">Logout</h5></a>
                    </div>
                </button>
                <div class="mar1">
                    <hr class="rule" />
                    <p class="">All Copyrights Reserved by KOWI LIFESTYLES</p>
                </div>
            </div>
            <div class="back12 col-lg-9">
                <div class="col-lg-12 p-5">
                    <div class="d-flex flex-row">
                        <h1 class="nm">Welcome {{user.username}}</h1>
                        <div class="mar">
                            <a href="{% url 'index' %}"><img class="imj1 mr-2" src="https://static.vecteezy.com/system/resources/previews/000/440/812/original/home-vector-icon.jpg" alt="" /></a>
                            <a href="{% url 'logoutme' %}"><img class="imj" src="https://cdn0.iconfinder.com/data/icons/interface-icons-rounded/110/Logout-512.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 p-5 shadow  you">
                    <h1>Your Grocery List According To Your Meal Plan.</h1>
                    {%for gro in grolist %}
                    <h4>{{gro.items.name}}</h4>
                    <br>
                    {%endfor%}
                    <h2>Your Bill - </h2>
                    {% if grocery.billitem is empty %}
                    <h3>Bill Not Yet Generated.</h3>
                    {%else%}
                    <h3>Name - {{grocery.billitem.name}}</h3>
                    <h4>Price = Rs.{{grocery.billitem.price}}</h4>
                    {% if check == False %}
                    <button class="btn btn-primary">Pay Now</button>
                    {%else%}
                    <a href="{{grocery.billitem.invoicepdf}}"><button class="btn btn-success">Download Invoice</button></a>
                    {%endif%}
                    {%endif%}
                </div>
            </div>


        </div>


    </div>



<script src="{% static 'dashboard.js' %}"></script>





</body>

</html>