{% extends 'base.html' %}
  {% block body %}
  {% load static %}
  <div class="my-3 p-2">
    {% if usertype == none %}
      <h1>Welcome,</h1>
      <a href="{% url 'login' %}">Login Here</a>
      <a href="{% url 'elogin' %}">E-login Here</a>
      <a href="{% url 'signup' %}">Register Here</a>
      <a href="{% url 'esignup' %}">E-Register Here</a>
      {%else%}
      <h1>Welcome, {{user.username}}</h1>
      <h2>Type: {{usertype}}</h2>
      <a href="{% url 'dashboard' %}">Enter Dashboard</a>
      <a href="{% url 'edashboard' %}">Enter E-dashboard</a>
      <a href="{% url 'logoutme' %}">Logout</a>
      {%endif%}
  </div>

<br>
<a href="{% url 'bmrcal' %}">BMR Calculate</a>
<a href="{% url 'bmic' %}">BMI Calculate</a>

  {% endblock body %}